[Unit]
Description=Burrow - Kafka Consumer Offset Monitor

[Service]
User=burrow

# Burrow creates this file. Setting PIDFile here manually
# keeps systemd from creating its own pidfile that
# conflicts with Burrow's.
PIDFile=/var/log/burrow.pid

ExecStart=/usr/bin/Burrow --config-dir /etc/burrow

[Install]
WantedBy=multi-user.target
